/*.movieParent {*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*height: 100%;*/
/*}*/

/*.sidebar {*/
  /*height: 100%;*/
  /*background-color: blue;*/
  /*display: flex;*/
  /*flex-direction: column;*/
/*}*/

html {
  height: 100%;
}

.fullParent {
  height: 100%;
  overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
  margin: 0px;  /*removes default style*/
  display: flex;  /*enables flex content for its children*/
  box-sizing: border-box;
}

.column {
  height: 100%;  /*allows both columns to span the full height of the browser window*/
  display: flex;
  flex-direction: column;  /*places the left and right headers above the bottom content*/
}

#left {
  flex-shrink: 0;  /*makes sure that content is not cut off in a smaller browser window*/
}

.listParent {
  justify-content: center;
}

.top-left {
  flex-shink: 0;
}

.top-right {
  flex-shrink: 0;
  display: inline-flex;
}

ul {
  flex-direction: column;
  display: flex;
  list-style: none;
}

.listItemInfo {
  flex-direction: column;
  display: flex;
}

.listItem {
  flex-direction: row;
  display: inline-flex;
  list-style: none;
}

img {
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 5px;
      width: 150px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.bottom {
  flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
  overflow-y: auto;  /*adds scroll to this container*/
}